.filtro {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.filtro-btn {
    width: 8rem;
}

.img__tamanho {
    height: 11.5rem;
    width: auto;
    object-fit: cover; 
}

.header {
    background-color: rgb(5, 76, 5);

}



@media (max-width: 768px) {

    .filtro-btn {
        width: 8rem;
        height: 5rem;
    }

    .img__tamanho {
        height: 11.5rem;
        width: auto;
        object-fit: cover; 
    }
}
  

@media (max-width: 480px) {

    .filtro-btn {
        width: 8rem;
        height: 5rem;
    }

    .img__tamanho {
    height: 11.5rem;
    width: auto;
    object-fit: cover; 
    }
}